.card {
    padding: 0.5rem;
    margin-right: 1em;
    background-image: linear-gradient(140deg, rgba(30, 50, 200, .4), rgba(30, 50, 150, .5));
}

.icon {
    align-self: flex-start;
    font-size: 1.5em;
}

.trashIcon {
    margin-left: .5em;
    color: rgba(200, 30, 40, .8);
}

.trashIcon:hover {
    color: rgba(170, 30, 50, .9);
    cursor: pointer;
}

.editIcon:hover {
    color: rgba(30, 50, 150, .8);
    cursor: pointer;
}