<h4 class="title text-center">Informações de contato</h4>
<div *ngIf="user">
  <div *ngIf="!modoEdicao">
    <p><strong>Telefone:</strong> {{ user.phone }}</p>
    <p><strong>Endereço:</strong> {{ user.address }}</p>
    <p><strong>E-mail:</strong> {{ user.email }}</p>
  </div>
  <div *ngIf="modoEdicao">
    <div class="form-group">
      <label for="phone">Telefone:</label>
      <input id="phone" class="form-control" [(ngModel)]="user.phone" />
    </div>

    <div class="form-group">
      <label for="address">Endereço:</label>
      <input id="address" class="form-control" [(ngModel)]="user.address" />
    </div>

    <div class="form-group">
      <label for="email">E-mail:</label>
      <input id="email" class="form-control" [(ngModel)]="user.email" />
    </div>
  </div>
</div>
