<div class="mb-3">
    <h6>Comentários</h6>
   
    <div class="card mb-2">
        <div class="card-body">
            <p class="card-text">Comentário 1.</p>
        </div>
    </div>
    
    <div class="card mb-2">
        <div class="card-body">
            <p class="card-text">Comentário 2.</p>
        </div>
    </div>

    <form>
        <div class="mb-3">
            <label for="comment">Adicionar Comentário:</label>
            <textarea class="form-control" id="comment" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Comentar</button>
    </form>
</div>
<hr>

<app-reactions></app-reactions>