<div class="container mt-4 row">
    <h2 class="text-center">Perfil do Usuário</h2>
    <h4>Informações de usuário</h4>
    <div *ngIf="user">
      <p><strong>ID:</strong> {{ user.id }}</p>
      <p><strong>Nome de Usuário:</strong> {{ user.userName || user.userLogin }}</p>
      <p><strong>Login:</strong> {{ user.userLogin }}</p>
      <p><strong>Email:</strong> {{ user.email || 'Não definido' }}</p>
      <p><strong>Idade:</strong> {{ user.age || 'Não definido' }}</p>
      <button class="btn btn-primary">Editar Perfil</button>
    </div>
  </div>
  