.container {
    margin: auto;
}

.basic-info {
    background-color: rgba(15, 60, 30, .6);
    border-radius: 5%;
    padding: 1em;
    margin: 0 .5em 0 3em;
}

.contact-info {
    background-color: rgba(15, 60, 30, .6);
    border-radius: 5%;
    padding: 1em;
}

.btn {
    margin-top: 1em;
    width: 15%;
}
