<div class="user-profile" *ngIf="user">
    <h3>
      Perfil do Usuário
      <a routerLink="/profile/{{user.id}}">
        <fa-icon [icon]="faEdit"></fa-icon>
      </a>
    </h3>
    
    <div class="user-info">
      <p><strong>Nome de Usuário:</strong> {{ user.userName }}</p>
      <p><strong>Telefone:</strong> {{ formatPhone(user.phone) || "Sem número"}}</p>
      <p><strong>Endereço:</strong> {{ user.address }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Idade:</strong> {{ user.age }}</p>
    </div>
  </div>
  